extends layout 
block content 
    h1=title 
    if user 
        if !user.isMember
            p You need to 
                a(href="/join-member") become a member 
                span first to become an admin. 
        else 
            form(method='POST' action="")
                .formGroup 
                    input#memberPassword(type="password" name="adminPassword" placeholder="Admin password" required="true")
                    button.submitButton(type="submit") Submit
            if errors 
                ul
                each error in errors 
                    li.error=error.msg
    else 
        p You need to 
            a(href="/log-in") log in 
            span first to become a member. 