extends layout

block content
  h1= title
  if user 
    p Hello #{user.userName}
  else 
    p
      a(href="/sign-up") Sign up 
      span to see who posted the messages below
    p Already have an account? 
      a(href="/log-in") Log in
  
  //- List of messages if there's message
