extends layout 

block content 
    h1=title 
    form(method="POST" action="/log-in")
        div.formGroup
            input#username(type="text" required="true" name="username" placeholder="User name")
            input#password(type="password" required="true" name="password" placeholder="Password")
            button.submitButton(type="submit") Submit