extends layout 

block content
    h1=title 
    form(method="POST" action="")
        div.formGroup
            input#firstName(type="text" required="true" name="firstName" placeholder="First name" value=(user==undefined?"":user.firstName))
            input#lastName(type="text" required="true" name="lastName" placeholder="Last name" value=(user==undefined?"":user.lastName))
            input#userName(type="text" required="true" name="userName" placeholder="User name" value=(user==undefined?"":user.userName))
            input#password(type="password" required="true" name="password" placeholder="Password" value=(user==undefined?"":user.password))
            input#confirmPassword(type="password" required="true" name="confirmPassword" placeholder="Confirm password")
            button.submitButton(type="submit") Submit
    if errors
        ul
            each error in errors 
                li.error=error.msg