:root {
  --inputWidth: 300px;
  --inputHeight: 30px;
  --buttonWidth: 100px;
  --buttonHeight: 40px;
  --white: #FFEBC9;
  --lightBrown: #EABF9F;
  --brown: #B68973;
  --black: #1E212D;
}

body {
  padding: 50px;
  padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--white);
}

h1 {
  color: var(--black);
}

a {
  color: #5dc6f0;
  font-weight: bold;
  text-decoration: none;
}

input {
  width: var(--inputWidth);
  height: var(--inputHeight);
  padding-left: 5px;
  font-size: 15px;
  border-radius: 5px;
}

.mainTitle {
  font-size: 3rem;
  color: var(--black);
  font-weight: bold;
}

.formGroup {
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  row-gap: 10px;
}

.submitButton,
.indexButton,
.deleteButton {
  width: var(--buttonWidth);
  height: var(--buttonHeight);
  border-radius: 5px;
  background-color: var(--lightBrown);
}

.submitButton:hover,
.indexButton:hover {
  color: var(--white);
  background-color: #f0aa74;
}

.deleteButton {
  background-color: var(--white);
}

.error {
  color: red;
}

.formGroup>textarea {
  width: var(--inputWidth);
  height: 200px;
  resize: vertical;
  padding-left: 5px;
  border-radius: 5px;
}

.messageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-auto-rows: 1fr; */
  grid-template-rows: repeat(min-fit, min-content);
  row-gap: 10px;
  column-gap: 10px;
}

.message {
  background-color: var(--lightBrown);
  border-radius: 10px;
  padding: 10px;
}

.message>h2 {
  font-size: 20px;
}

.message>p {
  padding-left: 5px;
}

.message>p:not(.text) {
  margin: 5px 0 5px 0;
}

.message>.text {
  max-height: 300px;
  overflow: auto;
  background-color: var(--white);
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  white-space: break-spaces;
}

.deleteButton:hover {
  background-color: red;
  color: white;
}